* {
	box-sizing: 0;
	padding: 0;
	margin: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', 'sans-serif';
    scroll-behavior: smooth;
	background-color: #242424;
}

main {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.eyes {
	max-width:600px;
	height: 300px;
	display: flex;
	align-items: center;
}

.eyes__right {
	width: 172px;
	height: 177px;
	margin-right: 10px;
	background-color: #26B4E1;
	box-shadow: 0 4px 9px #26B4E1;
	border-radius: 8px;
	animation-name: eye_blink;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.eyes__left {
	width: 172px;
	height: 177px;
	margin-left: 10px;
	background-color: #26B4E1;
	box-shadow: 0 4px 9px #26B4E1;
	border-radius: 8px;
	animation-name: eye_blink;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}

.mouth {
	display: inherit;
	align-items: flex-end;
}

.mouth__main {
	opacity: 0;
}

.expression {
	opacity: 0;
}
.expression-main {
	width: inherit;
	height: inherit;
	background-image: url("./static/Union.svg");
	background-repeat: no-repeat;
	background-size: contain;
}


/* emociones */
.eyes__right--duda {
	transform: scale(0.7, 0.8);
	animation-name: none;
}
.eyes__left--duda {
	transform: scale(1.1, 1.3);
	animation-name: none;
}
.mouth__main--duda {
	opacity: 1;
	width: 130px;
	height: 20px;
	margin-top: 10px;
	background-color: #26B4E1;
	box-shadow: 0 4px 9px #26B4E1;
	border-radius: 8px;
}

.eyes__right--sorpresa {
	transform: scale(0.80, 1.5);
	animation-name: none;
}
.eyes__left--sorpresa {
	transform: scale(0.80, 1.8);
	animation-name: none;
}

.mouth__main--sorpresa {
	opacity: 1;
	width: 50px;
	height: 100px;
	margin-top: 40px;
	background-color: #26B4E1;
	box-shadow: 0 4px 9px #26B4E1;
	border-radius: 8px;
}

.eyes__right--enojo {
	transform: scale(1, 0.15);
	animation-name: none;
}
.eyes__left--enojo {
	transform: scale(1, 0.15);
	animation-name: none;
}

.expression--enojo {
	opacity: 1;
	position: absolute;
	width: 100px;
	height: 100px;
	top: 150px;
	right: 350px;
}


.mouth__main--hablar {
	opacity: 1;
	width: 100px;
	height: 20px;
	background-color: #26B4E1;
	box-shadow: 0 4px 9px #26B4E1;
	border-radius: 8px;	
	animation-name: mouth_talking;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}



@keyframes eye_blink {
	0% {
		transform: scale(1,1);
	}
	10% {
		transform: scale(0.8, 1.5);
	}
	15% {
		transform: scale(1, 0.15);
	}
	30% {
		transform: scale(1,1);
	}
	100% {
		transform: scale(1,1);
	}
}


@keyframes mouth_talking {
	0% {
		transform: scale(1,1);
	}
	60% {
		transform: scale(0.5, 2);
	}

}